<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
            <form th:object="${customer}" action="/customers/findSubmit" th:action="@{/customers/findSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>

                        <div class="field">
                            <label class="label" for="name">Customer Name:</label>                    
                            <select name="fullName">
                                <option th:each="name : ${names}" th:value="${name}" th:text="${name}"></option>
                            </select>
                        </div>

                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Find</button>
                        
                    </div>
                </fieldset>
            </form>
        </div>
    
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>